@import "../../../../styles/base/variables.module";

.tableContainer {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    flex: 1;

}
.Container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
    padding: 25px;
    border-radius: 0.625rem;
    background-color: $tableView-bg-color;
    box-shadow: 0px 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.buttonContainer {
    margin-top: 1rem;
    bottom: 16px; 
    right: 16px; 
    display: flex;
    gap: 12px; 
}

.buttonImage {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
}