@import "./styles/base/variables.module";

html {
    display: flex;
    min-height: 100%;
}

body {
    display: flex;
    flex: 1;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $bg-color;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#root {
    display: flex;
    flex: 1;
}

.consumer-background {
    background-image: url('./assets/Image/consumer-bg.png');
    background-repeat: repeat; 
    background-position: center;
    height: auto;
    width: 100%; 
    display: flex;
    justify-content: center;
}